<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectLenguajes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectLenguajes.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>Parking</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed navbar-responsive">
            <a class="navbar-brand" href="#">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <!--Operador y administrador-->
                    <li class="nav-item">
                        <a class="nav-link" href="#vehicles">Vehicles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clients">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reservations">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bills">Bills</a>
                    </li>
                    <!--Administrador-->
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#parkings">Parkings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#slots">Slots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#roles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#rates">Rates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothScroll" href="#reports">Reports</a>
                    </li>
                    <li class="nav-item">
                        <button href="#myModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">LogIn</button>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
	        <div class="modal-dialog modal-login">
		        <div class="modal-content">
			        <div class="modal-header">
				        				
				        <h4 class="modal-title">Member Login</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        </div>
			        <div class="modal-body">
				        <form id="user-login-form">
					        <div class="form-group">
						        <input type="text" class="form-control" name="email" id="Email" placeholder="Email" required="required">		
					        </div>
					        <div class="form-group">
						        <input type="password" class="form-control" name="password" id="Password" placeholder="Password" required="required">	
					        </div>        
					        <div class="form-group">
						        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" onclick="return LogIn();">Login</button>
					        </div>
				        </form>
			        </div>
		        </div>
	        </div>
        </div>    

    </header>

    <!-- HOME -->
    <section id="home">
        <div class="container">
            <div class="row">

                <div class="jumbotron text-center" Style="background-color: #D48170">
                    <h1 > PARKING SYSTEM </h1>
                        <br>
                        <center>
                            <p>Hansel Araya Carpio</p>
                            <p>Pablo Castilo Quesada</p>
                            <p>Jose Quiros</p>
                        </center>
                </div>
            </div>
        </div>
    </section>

    <!--VEHICLES -->
    <section id="vehicles">
        <div class="container">
            <div class="row">

                <div class="section-title">                        
                     </div>

                     <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                   <h2>Insert new Vehicle</h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <label for="idType">Select a vehicle´s type: </label>
                                   <select class="form-control without-margin" name="types" id="types">
                                   </select>
                                    <br>

                                   <input type="text" name="brand" id="brand" class="form-control" placeholder="Brand" required="">
                                   <br>
                                   <input type="text" name="model" id="model" class="form-control" placeholder="Model" required="">
                                   <br>
                                   <input type="text" name="color" id="color" class="form-control" placeholder="Color" required="">
                                   <br>
                                   <input type="number" name="year" id="year" class="form-control" placeholder="Year" required="">
                                   <br>
                                   <input type="text" name="register" id="register" class="form-control" placeholder="Register of your Vehicle" required="">
                                   <br>
                                   <input type="text" name="description" id="description" class="form-control" placeholder="Description" required="">
                                   <br>

                                   <button class="submit-btn form-control" onsubmit="return AddVehicle();" id="addvehicle">Add Vehicle</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancel</button>
                                   <label id="result"></label>
                              </form>
                         </div>

                     
                     <div class="col-md-12 col-sm-12">
                         <h2>Vehicles Enrolled</h2>
                        <input type="text" id="myInputVehicle"  class="form-control search-input" placeholder="Search...">
                        <div class="table-responsive">                     
                            <table class="table table-bordered table-hover table table-striped" id="vehicle-table"> 
                                <thead>
                                    <tr>
                                        <th>
                                            IDvehicle
                                        </th>
                                        <th>
                                            IDtype
                                        </th>
                                         <th>
                                             Brand
                                        </th>
                                        <th>
                                             Model
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Year
                                        </th>
                                         <th>
                                             register
                                        </th>
                                        <th>
                                             Description
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="vehicle-tbody">
                                    
                                </tbody>

                            </table>


                            <!-- Modal Vehicle -->
                            <div class="modal fade" id="modalVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Vehicle</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="user-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idUserModal" id="idUserModal" hidden>

                                       <label for="idType">Select a vehicle´s type: </label>
                                       <select class="form-control without-margin" name="types" id="types">
                                       </select>
                                        <br>

                                       <input type="text" name="brand" id="brand" class="form-control" placeholder="Brand" required="">
                                       <br>
                                       <input type="text" name="model" id="model" class="form-control" placeholder="Model" required="">
                                       <br>
                                       <input type="text" name="color" id="color" class="form-control" placeholder="Color" required="">
                                       <br>
                                       <input type="number" name="year" id="year" class="form-control" placeholder="Year" required="">
                                       <br>
                                       <input type="text" name="register" id="register" class="form-control" placeholder="Register of your Vehicle" required="">
                                       <br>
                                       <input type="text" name="description" id="description" class="form-control" placeholder="Description" required="">
                                       <br>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateVehicle();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Vehicle -->                          

                        </div>
                     </div>
            
            </div>
        </div>
    </section>

    <!-- CLIENTS -->
    <section id="clients">
        <div class="container">
            <div class="row">

                <div class="section-title">                        
                     </div>

                     <div class="entry-form">
                             <form action="" id="client-entry-form">
                                   <h2>Add a new client</h2>
                                   <input type="text" name="id" id="id" hidden>

                                    <label for="idVehicle">Select a vehicle by register: </label>
                                   <select class="form-control without-margin" name="register_v" id="register_v">
                                   </select>
                                    <br>

                                   <input type="text" name="nameClient" id="nameClient" class="form-control" placeholder="Full name" required="">
                                   <br>
                                   <input type="text" name="dniClient" id="dniClient" class="form-control" placeholder="DNI" required="">
                                   <br>
                                   <input type="text" name="ageClient" id="ageClient" class="form-control" placeholder="Age" required="">
                                   <br>
                                   <input type="text" name="telephoneClient" id="telephoneClient" class="form-control" placeholder="Telephone" required="">
                                   <br>
                                   <input type="email" name="emailClient" id="emailClient" class="form-control" placeholder="Your email address" required="">
                                   <br>
                                   <input type="password" name="passwordClient" id="passwordClient" class="form-control" placeholder="Your password" required="">
                                   <br>

                                   <button class="submit-btn form-control" onsubmit="return AddClient();" id="form-submit">Add Client</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancel</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>

                     
                     <div class="col-md-12 col-sm-12">
                         <h2>Clients Enrolled<small>from all vehicles</small></h2>
                        <input type="text" id="myInputClient"  class="form-control search-input" placeholder="Search...">
                        <div class="table-responsive">                     
                            <table class="table table-bordered table-hover table table-striped" id="clients-table"> 
                                <thead>
                                    <tr>
                                        <th>
                                            IDclient
                                        </th>
                                        <th>
                                            IDvehicle
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                        <th>
                                             Rol
                                        </th>
                                        <th>
                                             State
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="client-tbody">
                                    
                                </tbody>

                            </table>


                            <!-- Modal Clients -->
                            <div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Client</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="client-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idClientModal" id="idClientModal" hidden>

                                       <label for="idVehicle">Select a vehicle by register: </label>
                                       <select class="form-control without-margin" name="register_vModal" id="register_vModal">
                                       </select>
                                        <br>

                                       <input type="text" name="nameClientModal" id="nameClientModal" class="form-control" placeholder="Full name" required="">
                                       <br>
                                       <input type="text" name="dniClientModal" id="dniClientModal" class="form-control" placeholder="DNI" required="">
                                       <br>
                                       <input type="text" name="ageClientModal" id="ageClientModal" class="form-control" placeholder="Age" required="">
                                       <br>
                                       <input type="text" name="telephoneClientModal" id="telephoneClientModal" class="form-control" placeholder="Telephone" required="">
                                       <br>
                                       <input type="email" name="emailClientModal" id="emailClient" class="form-control" placeholder="Your email address" required="">
                                       <br>
                                       <input type="password" name="passwordClientModal" id="passwordClientModal" class="form-control" placeholder="Your password" required="">
                                       <br>
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateClient();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Clients -->                           

                        </div>
                     </div>
            
            </div>
        </div>
    </section>

    <!-- RERSERVATIONS -->
    <section id="reservations">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- BILLS -->
    <section id="bills">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- USERS -->
    <section id="users">
        <div class="container">
            <div class="row">

                <div class="section-title">                        
                     </div>

                     <div class="entry-form">
                             <form action="" id="user-entry-form">
                                   <h2>Signup today</h2>
                                   <input type="text" name="id" id="id" hidden>

                                    <label for="idRol">Select a Rol: </label>
                                        <select id="idRol" class="form-control" name="role">
                                            <option value="2">Operator</option>
                                            <option value="3">Administrator</option>
                                        </select>
                                    <br>

                                   <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required="">
                                   <br>
                                   <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" required="">
                                   <br>
                                   <input type="text" name="age" id="age" class="form-control" placeholder="Age" required="">
                                   <br>
                                   <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telephone" required="">
                                   <br>
                                   <input type="email" name="email" id="email" class="form-control" placeholder="Your email address" required="">
                                   <br>
                                   <input type="password" name="password" id="password" class="form-control" placeholder="Your password" required="">
                                   <br>

                                   <button class="submit-btn form-control" onsubmit="return Add();" id="form-submit">Add User</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancel</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>

                     
                     <div class="col-md-12 col-sm-12">
                         <h2>Users Enrolled<small>from all roles</small></h2>
                        <input type="text" id="myInputUser"  class="form-control search-input" placeholder="Search...">
                        <div class="table-responsive">                     
                            <table class="table table-bordered table-hover table table-striped" id="users-table"> 
                                <thead>
                                    <tr>
                                        <th>
                                            IDuser
                                        </th>
                                        <th>
                                            IDrol
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="user-tbody">
                                    
                                </tbody>

                            </table>

                            <!-- Modal User -->
                            <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="user-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idUserModal" id="idUserModal" hidden>

                                       <input type="text" name="nameModal" id="nameModal" class="form-control" placeholder="Full name" required="">
                                       <br>
                                       <input type="text" name="dniModal" id="dniModal" class="form-control" placeholder="DNI" required="">
                                       <br>
                                       <input type="text" name="ageModal" id="ageModal" class="form-control" placeholder="Age" required="">
                                       <br>
                                       <input type="text" name="telephoneModal" id="telephoneModal" class="form-control" placeholder="Telephone" required="">
                                       <br>
                                       <input type="email" name="emailModal" id="emailModal" class="form-control" placeholder="Your email address" required="">
                                       <br>
                                       <input type="password" name="passwordModal" id="passwordModal" class="form-control" placeholder="Your password" required="">
                                       <br>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return Update();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal User -->
                                                      

                        </div>
                     </div>
            
            </div>
        </div>
    </section>

    <!-- PARKINGS -->
    <section id="parkings">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- SLOTS -->
    <section id="slots">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- ROLES -->
    <section id="role">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- RATES -->
    <section id="rates">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- REPORTS -->
    <section id="reports">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>


@*<div class="entry-form">
	<h1>Login</h1>
    <form action="" id="login-entry-form">
    	<input type="text" id="emailUser" name="emailUser" placeholder="Email" required="required" />
        <input type="password" id="passwordUser" name="passwordUser" placeholder="Password" required="required" />
        <button type="submit" onsubmit="return LogIn();" class="btn btn-primary btn-block btn-large">Let me in.</button>
        <label id="result"></label>
    </form>
</div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
     @*   <div class="container">
            &copy; 2022 - ProjectLenguajes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
